@use "../../base/mixins";
@use "../../base/variables";

.animation-wrapper {
  position: relative;
  width: 100%;
  padding: 0 18px 20px;
  min-height: 100vh;
  min-height: 100svh;

  z-index: 0;
}

.banner-mask-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // GSAP зменшує висоту
  overflow: hidden;
  will-change: height;

  // Підключаємо наш новий контур
  clip-path: url(#bannerSvgMask);
}

// Запінений контейнер (фіксована коробка на 100vh)
.animation-view {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  height: 100svh;
  min-height: 100svh;
  overflow: hidden;

  z-index: 2;
}

// Загальні правила для шарів-сендвічів
.hero-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // Гарантує, що контент не випаде при обрізанні
}

// ПЕРЕДНІЙ ШАР: Банер з м'ясом
.section-banner {
  z-index: 2; // Лежить над сірою секцією
  will-change: clip-path;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    height: 100vh;
    height: 100svh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .staggered-heading__line {
    opacity: 0;
    overflow: hidden; /* Ховає текст, коли він зміщений вниз */

    will-change: transform, opacity;

    /* Примусово фіксує субпіксельне згладжування шрифту */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Прибирає мікро-зміщення при трансформаціях */
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .staggered-heading.text-white {
    color: #ffffff; // Чистий білий колір на тлі фото
  }
}

.banner-mask-wrapper {
  position: absolute;
  bottom: 0; // Прив'язуємо до низу (або top: 0, якщо шторка йде в інший бік. Якщо ховаємо знизу вгору — ставимо top: 0)
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // GSAP буде зменшувати цю висоту до 0%

  overflow: hidden;
  border-radius: 0 0 30px 30px;
  //will-change: height;
}

// ЗАДНІЙ ШАР: Сіра зона під банером
.section-under-banner {
  z-index: 1; // Чекає знизу, поки зникне банер
  background-color: #E7E5E2;
  border-radius: 0 0 30px 30px;

  .staggered-heading.text-dark {
    color: #1D1F25; // Твій глибокий фірмовий колір
  }
}

// Блок нагород (їде разом із банером)
.block-awards {
  max-width: 320px;
  position: absolute;
  bottom: 50px;
  right: 52px;
  z-index: 6;
}

// Контейнер заголовка (в обох секціях стоїть у абсолютно ідентичних координатах)
.animation-view .section__heading {
  position: fixed; // Змінюємо з fixed на absolute всередині шарів, щоб маска їх бачила!
  max-width: 711px;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;

  .staggered-heading {
    font-size: 94px;
    line-height: 1.02;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

// Контейнер для твоєї 3D тарілки та гранул
.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none; /* Керується через GSAP */
  pointer-events: none;
  align-items: center;
  justify-content: center;
  &:before{
    position: absolute;
    content: '';
    display: block;    background-image: url(../images/category-card-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: -1;
    height: 100%;
    width: 100%;

    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
canvas {
  display: block;
  max-width: 550px ;  /* Вы можете изменить эту цифру, если тарелка покажется большой/маленькой */
  max-height: calc(550px * 0.906);
  /* Автоматически рассчитываем высоту по пропорции кадра (580 / 640 = 0.906) */
  height: auto ;
  object-fit: contain;
}

@include mixins.respond-to(variables.$xl) {
  .animation-view .section__heading .staggered-heading {
    font-size: 85px;
  }
  .block-awards {
    max-width: 215px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .animation-view .section__heading {
    max-width: 623px;
  }
  .animation-view .section__heading .staggered-heading {
    font-size: 75px;
  }

}

@include mixins.respond-to(variables.$sm) {
  .animation-view .section__heading {
    max-width: 320px;
  }
  .block-awards {
    right: 20px;
  }
  canvas {
    max-width: 420px; /* Вы можете изменить эту цифру, если тарелка покажется большой/маленькой */
    width: 75%;
  }
}

@include mixins.respond-to(variables.$xs) {
  .animation-wrapper {
    padding: 0 0 15px;
  }
  .section-banner,
  .section-under-banner {
    border-radius: 0 0 15px 15px;
  }
  .banner-mask-wrapper {
    clip-path: url(#bannerSvgMaskMob);
    border-radius: 0 0 15px 15px;
  }

  .block-awards {
    right: 16px;
  }

}