@use "../../base/mixins";
@use "../../base/variables";

.partner-marquee{
  padding: 24px 0;
  border-top: 0.5px solid #1D1F25;
  border-bottom: 0.5px solid #1D1F25;
}
.partner-marquee .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.partner-marquee .splide__slide img {
  display: block;
  height: 100px;
  width: auto;
  object-fit: contain;
  filter: grayscale(1);
}
@include mixins.respond-to(variables.$sm){
  .partner-marquee {
    padding: 17px 0;
  }
  .partner-marquee .splide__slide {
    width: 71px;
    height: 71px;
  }
}
