{% set headerClass = "header_light" %}

{% extends "layouts/base.njk" %}

{% block title %}Каталог — {{ siteName }}{% endblock %}
{% block main_class %}page page-catalog{% endblock %}
{% block content %}

    <div class="container">
        <form action="/catalog" method="GET" class="catalog-filter">
            <div class="catalog-filter__header">
                <div class="top-bar">
                    <h2 class="top-bar__title">Я шукаю контейнери для

                        <select class="js-custom-select category-select">
                            <option value="" disabled selected>всіх категорій</option>
                            <option value="gastronomy">гастрономії</option>
                            <option value="fish-meat">риби & мяса</option>
                            <option value="drinks">напоїв</option>
                            <option value="eggs">яєць</option>
                            <option value="vegetables">овочів</option>
                            <option value="confectioner">кондитерських виробів</option>
                            <option value="dairy">молочної продукції</option>
                        </select>

                    </h2>
                </div>

                <div class="search-block">
                    <div class="search__input-group">
                        <input type="search" name="s" class="search__input" placeholder="Пошук продукта" required>
                        <button type="submit" class="btn btn_round search-submit"></button>
                    </div>
                </div>
            </div>

            <div class="tags-bar">
                <ul class="tags-bar__list">
                    <li class="tag-item">Білий колір
                        <button type="button" class="tag-item__remove">
                            <img src="images/icons/btn-close.svg"
                                 alt="Видалити тег"></button>
                    </li>
                    <li class="tag-item">Великий розмір
                        <button type="button" class="tag-item__remove">
                            <img src="images/icons/btn-close.svg"
                                 alt="Видалити тег"></button>
                    </li>
                    <li class="tag-item">Холодні страви
                        <button type="button" class="tag-item__remove">
                            <img src="images/icons/btn-close.svg"
                                 alt="Видалити тег"></button>
                    </li>
                    <li class="tag-item">Оливки, соління та маринади
                        <button type="button" class="tag-item__remove">
                            <img src="images/icons/btn-close.svg"
                                 alt="Видалити тег"></button>
                    </li>
                </ul>
                <button type="reset" class="filter-reset-btn">Скинути</button>
            </div>

            <div class="catalog-content">
                <button type="button" class="btn_open-sidebar"></button>
                <aside class="sidebar">
                    <button class="btn_close">
                        <img src="images/icons/btn-close.svg" alt="Видалити тег">
                    </button>
                    <div class="sidebar__body">
                        <div class="sidebar__section">
                            <a href="#"
                               class="sidebar__heading sidebar__heading_toggle"
                               data-toggle="collapse"
                               data-target="#size-filter">Розмір</a>
                            <div class="collapse" id="size-filter">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="size" value="size-xl" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Великий</span>

                                </label>

                                <label class="custom-checkbox">
                                    <input type="checkbox" name="size" value="size-md" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Середній</span>

                                </label>

                                <label class="custom-checkbox">
                                    <input type="checkbox" name="size" value="size-sm" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Малий</span>

                                </label>
                            </div>
                        </div>

                        <div class="sidebar__section">
                            <a href="#"
                               class="sidebar__heading sidebar__heading_toggle"
                               data-toggle="collapse"
                               data-target="#type-dish-filter">Тип страви</a>
                            <div class="collapse" id="type-dish-filter">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="dish-type" value="cool" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Холодні страви</span>
                                </label>

                                <label class="custom-checkbox">
                                    <input type="checkbox" name="dish-type" value="hot" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Гарчі страви</span>
                                </label>
                            </div>
                        </div>

                        <div class="sidebar__section">
                            <a href="#"
                               class="sidebar__heading sidebar__heading_toggle"
                               data-toggle="collapse"
                               data-target="#type-product-filter">Тип продукту</a>
                            <div class="collapse" id="type-product-filter">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="product-type" value="ready-meals"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Готові перші та другі страви</span>

                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="product-type" value="salads"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Салати та холодні закуски</span>

                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="product-type" value="sauces"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Соуси, пасти та хумус</span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="product-type" value="marinades"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Оливки, соління та маринади</span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="product-type" value=frozen-cooking"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Заморожена кулінарія</span>
                                </label>
                            </div>
                        </div>

                        <div class="sidebar__section">
                            <a href="#"
                               class="sidebar__heading sidebar__heading_toggle"
                               data-toggle="collapse"
                               data-target="#color-filter">Колір</a>
                            <div class="collapse" id="color-filter">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="color" value="black" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Чорний</span>

                                </label>

                                <label class="custom-checkbox">
                                    <input type="checkbox" name="color" value="white" class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Білий</span>

                                </label>

                                <label class="custom-checkbox">
                                    <input type="checkbox" name="color" value="transparent"
                                           class="custom-checkbox__input">
                                    <span class="custom-checkbox__box"></span>
                                    <span class="custom-checkbox__label">Прозорий</span>

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__footer">
                        <button type="submit" class="btn btn_main btn_border btn_dark"><span class="icon"><img
                                        src="images/icons/arrow-prev.svg" alt="" aria-hidden="true"></span>Застосувати
                            фільтри
                        </button>
                        <a href="#" class="btn btn_main btn_border btn_dark" download><span class="icon"><img
                                        src="images/icons/arrow-prev.svg" alt="" aria-hidden="true"></span>Завантажити
                            каталог</a>
                    </div>

                </aside>

                <div class="products-grid">
                    {% set products = [
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product2.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },
                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product1.png",
                            url: "page-product.html"
                        },

                        {
                            cat: "Гастрономія",
                            title:"ЛОТОК 178X117X38",
                            image: "images/product2.png",
                            url: "page-product.html"
                        }
                    ] %}
                    {% for product in products %}
                        <a href="{{ product.url }}" class="card">
                            <div class="category-card__title category-with-decor">{{ product.cat }}</div>
                            <h3 class="card__title">{{ product.title }}</h3>
                            <div class="card__img-wrap">
                                <img src="{{ product.image }}" alt="{{ product.title }}" class="card__img">
                            </div>
                        </a>
                    {% else %}
                        <p>В даній категорії товару не знайдено.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="wrap-pagination">
                {% include "partials/pagination.njk" %}
            </div>
        </form>
    </div>
{% endblock %}