{% extends "layouts/base.njk" %}

{% block title %}Контакти — {{ siteName }}{% endblock %}

<svg width="0" height="0" style="position: absolute;">
    <defs>
        <clipPath id="bannerSvgMask" clipPathUnits="objectBoundingBox">
            <path d="M 0,0 H 1 V 0.97 Q 1,1 0.97,1 H 0.03 Q 0,1 0,0.97 Z" />
        </clipPath>
    </defs>
</svg>

{% block main_class %}page page-contacts{% endblock %}
{% block content %}

    <div class="animation-wrapper">
        <section class="section-banner">
            <div class="section-banner__bg">
                <img src="images/banner-contacts.jpg" alt="">
            </div>
            <div class="section__heading">
                <h1 class="staggered-heading text-white">
                    <span class="staggered-heading__line">Контакти</span>
                </h1>
            </div>
            <div class="block-awards">
                <img src="images/block-awards.webp" alt="">
            </div>
        </section>
    </div>

    <section class="section-contacts">
        <div class="tabs" data-tabs>
            <div class="block-grey">
                <div class="container">
                    <div class="tabs__nav" role="tablist">
                        <div class="tab-active-border"></div>
                        <div class="tabs__nav-item">
                            <button type="button" class="tabs-nav__link text_md active" data-tab="contactUs"
                                    role="tab" aria-selected="true">
                                Звяжися з нами
                                <span class="tabs__nav-description">Звяжися з нами чи відвідай нас</span>
                            </button>
                        </div>
                        <div class="tabs__nav-item">
                            <button type="button" class="tabs-nav__link text_md" data-tab="writeToUs" role="tab"
                                    aria-selected="false">
                                Напиши нам
                                <span class="tabs__nav-description">Якщо у Вас є питання чи Ви бажаєте отримати пропозицію</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="container">
                    <div id="contactUs" class="tab-content active" role="tabpanel">
                        <div class="section__heading">
                            <h1 class="staggered-heading">
                                <span class="staggered-heading__line">Бажаєте сконтактуватись</span>
                                <span class="staggered-heading__line">чи відвідати нас ?</span>
                            </h1>
                        </div>
                        <div class="d-flex">
                            <div class="section__part section__part-left">
                                <div class="contacts__list">
                                    <div class="contacts__item">
                                        <h3>Адреса: </h3>
                                        <div class="contacts__content">Україна, м. Львів, <br> вул. Довбуша 7а/5</div>
                                    </div>
                                    <div class="contacts__item">
                                        <a href="#" class="btn btn_main btn_border btn_dark"><span class="icon"><img
                                                        src="images/icons/arrow-prev.svg" alt=""
                                                        aria-hidden="true"></span>Відкрити у Google Maps</a>
                                    </div>
                                    <div class="contacts__item">
                                        <h3>Робочі години</h3>
                                        <dl class="working-hours__content">
                                            <dt>Робочі дні</dt>
                                            <dd>8:00 – 20:00</dd>

                                            <dt>Субота</dt>
                                            <dd>9:00 – 16:00</dd>

                                            <dt>Неділя</dt>
                                            <dd class="closed">Зачинено</dd>

                                            <dt>Свята</dt>
                                            <dd class="closed">Зачинено</dd>
                                        </dl>
                                    </div>

                                    <div class="contacts__item">
                                        <h3>Контакти </h3>
                                        <div class="contacts__content">
                                            <a href="tel:+38066984240">+38 066 984 24 02</a>
                                            <a href="tel:+380679834655">+38 067 983 46 55</a>
                                            <a href="mailto:info@leonix.com.ua">info@leonix.com.ua</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__part section__part-right">
                                <div class="block-map">
                                    <div class="block-map__inner">
                                        <img src="images/map.jpg" alt="Карта з місцем знаходження">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="writeToUs" class="tab-content" role="tabpanel">
                        <div class="section__heading">
                            <h1 class="staggered-heading">
                                <span class="staggered-heading__line">Ви можете звязатись з нами</span>
                                <span class="staggered-heading__line">по цій формі звязку</span>
                            </h1>
                        </div>
                        <div class="d-flex">
                            <div class="section__part section__part-left">
                                <div class="contacts__list">
                                    <div class="contacts__item description">
                                        <h3>Прохання: </h3>
                                        <div class="contacts__content">Зазначати суть повідомлення на початку</div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__part section__part-right">
                                <form action="#" method="post" name="contact-form" class="form-contacts">
                                    <div class="form-group">
                                        <label for="firstName">
                                            <input class="input" id="firstName" type="text" name="firstName"
                                                   autocomplete="name" placeholder="Введіть ваше ПІБ">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" for="phoneNumber">
                                            <input class="input" id="phoneNumber" type="tel" name="phone-number"
                                                   placeholder="Ваш номер телефону">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" for="descriptionContact">
                                            <input class="input" id="ourEmail" type="email" name="email"
                                                   placeholder="Ваш email">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" for="descriptionContact">
                                            <textarea class="textarea" id="descriptionContact" name="description"
                                                      placeholder="Ваше повідомлення"></textarea>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn_main btn_border btn_dark btn_submit">
                                <span class="icon">
                                    <img src="images/icons/arrow-prev.svg" alt="" aria-hidden="true">
                                </span>Звязатись з нами
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}