{% set headerClass = "header_light" %}

{% extends "layouts/base.njk" %}

{% block title %}Сучасне пакування для мясної промисловості — {{ siteName }}{% endblock %}
{% block main_class %}page single-post{% endblock %}
{% block content %}

    <article class="post">
        <div class="container">
            <div class="post__cat">Виробництво</div>
            <h2 class="post__title">Сучасне пакування для мясної промисловості</h2>
            <div class="post__thumb">
                <img src="images/thumb-post-xl.jpg" alt="">
            </div>
            <div class="post__content dynamic-content">
                <h3>Рішення від компанії KGL</h3>
                <p>
                    Вибагливі характеристики м’ясних продуктів змушують переробників використовувати пакування, яке
                    відповідає найвищим стандартам якості. Тому упаковка має не тільки гарантувати безпечність
                    запакованого
                    виробу, але й бути екологічно нейтральною та узгоджуватися з принципами циркулярної економіки.
                    Інноваційне пластикове пакування виробництва компанії KGL відповідає всім цим викликам.
                </p>
                <h3>Пакування – це не тільки про безпечність
                </h3>
                <p>
                    Безпечність м’ясних продуктів у процесі транспортування та зберігання при низьких температурах може
                    забезпечити вико- ристання пакування, яке відповідає суворим стандартам яко- сті. Воно захищає його
                    вміст від шкідливого впливу зовнішніх факторів або проникнення мікроорганізмів, а також запобігає
                    механічній деформації запакованого продукту. Спеціальна упа- ковка, зберігаючи специфічний «клімат»,
                    створений у процесі пакування, також подовжує термін зберігання м’яса та м’ясо- продуктів.
                </p>
                <p>
                    Пакування – це не тільки гарантія безпечності харчових про- дуктів. Воно також є носієм
                    маркетингової
                    інформації, а тому повинне бути візуально привабливим і мати можливість нане- сення декорацій
                    (принтів).
                </p>
                <ul>
                    <li> для заморозки (мін. -50С)</li>
                    <li>для глибокої заморозки (мін.-250С)</li>
                    <li>з слоєм РЕ</li>
                </ul>
                <p>
                    Перераховуючи виклики, яким має відповідати упаковка для м’яса, не забуваймо, що, будучи одноразовим
                    виробом, вона не повинна бути додатковим тягарем для довкілля, тому має бути розроблена та
                    виготовлена
                    таким чином, щоб її можна було повністю переробити, і таким чином відповідати принципам ци-
                    ркулярної
                    економіки (Circular Economy). Кілька років тому ком- панія KGL зіткнулася з цією проблемою. Завдяки
                    наполегливій праці у цьому напрямку підприємство вже може похвалитися асортиментом сучасного
                    пакування
                    для м’ясної промисловості у своєму портфоліо.
                </p>
            </div>
        </div>
    </article>
    <section class="section-related">
        <div class="container">
            <h2 class="section-related__title">Більше статей</h2>
            <div class="slider-wrapper">
                <div class="splide related-posts" role="group" aria-label="Related post">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% set related_post_list = [
                                {  title: "Сучасне пакування для мясної промисловості", date:"4 квітня, 2024"},
                                {  title: "Сучасне пакування для мясної промисловості", date:"4 квітня, 2024"},
                                {  title: "Сучасне пакування для мясної промисловості", date:"4 квітня, 2024"},
                                {  title: "Сучасне пакування для мясної промисловості", date:"4 квітня, 2024"}
                            ] %}
                            {% for item in related_post_list %}
                                <li class="posts__item splide__slide">
                                    <a href="single-post.html" class="card-article">
                                        <div class="card-article__thumb">
                                            <img src="images/thumb-post2.jpg" alt="">
                                        </div>
                                        <h3 class="card-article__title">{{ item.title }}</h3>
                                        <span class="card-article__date">{{ item.date }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}