@use "../base/mixins";
@use "../base/variables";

.menu {
  display: flex;

  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: currentColor;
    margin: 0 15px;
    a{
      display: inline-block;
      padding: 22px 0;
      transition: .35s;
      &:hover{
        -webkit-text-stroke: 0.5px currentColor;
      }
    }
  }
}