@use "../base/mixins";
@use "../base/variables";

.splide__arrow {
  width: 66px;
  height: 66px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000000;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url(../images/icons/arrow-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  svg {
    display: none;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}

.slider-wrapper {
  position: relative;
  padding: 0 70px;
}

.splide__pagination {
  bottom: 0;
  display: none;
}

.splide__pagination__page {
  background: #D9D9D9;
}

@include mixins.respond-to(variables.$md) {
  .splide__arrow {
    width: 55px;
    height: 55px;
  }
}
.splide__pagination__page.is-active {
  background: red;
  transform: none;
}

@include mixins.respond-to(variables.$sm) {
  .splide__pagination {
    display: flex;
  }
  .splide__arrow {
    width: 50px;
    height: 50px;
  }

  .section-related,
  .similar-products {
    .slider-wrapper {
      padding: 0 0 82px;
    }

    .splide__arrow {
      top: auto;
      bottom: -25px;
      margin: 0 20px;
    }

    .splide__arrow--next {
      right: auto;
      left: 50%;
    }

    .splide__arrow--prev {
      left: auto;
      right: 50%;
    }
  }
}