<footer class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="footer__part">
                <div class="footer__slogan section__heading">
                    <h2 class="staggered-heading">
                        <span class="staggered-heading__line">Більше,</span>
                        <span class="staggered-heading__line">ніж просто</span>
                        <span class="staggered-heading__line">упаковка</span>
                    </h2>
                </div>
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#">
                            <img src="images/icons/ic-fb.svg" alt="Facebook">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#">
                            <img src="images/icons/ic-twitter.svg" alt="Twitter">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#">
                            <img src="images/icons/ic-google.svg" alt="Google">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__part">
                <div class="menu">
                    <div class="menu__item"><a href="about.html">Про нас</a></div>
                    <div class="menu__item"><a href="page-catalog.html">Каталоги</a></div>
                    <div class="menu__item"><a href="page-сertificates.html">Сертифікати</a></div>
                    <div class="menu__item"><a href="page-blog.html">Блог</a></div>
                    <div class="menu__item"><a href="page-contacts.html">Контакти</a></div>
                </div>
            </div>
            <div class="footer__part">
                <div class="working-hours">
                    <h3>Робочі години</h3>
                    <dl class="working-hours__content">
                        <dt>Робочі дні</dt>
                        <dd>8:00 – 20:00</dd>

                        <dt>Субота</dt>
                        <dd>9:00 – 16:00</dd>

                        <dt>Неділя</dt>
                        <dd class="closed">Зачинено</dd>

                        <dt>Святкові дні</dt>
                        <dd class="closed">Зачинено</dd>
                    </dl>

                </div>
            </div>
        </div>
        <img src="images/icons/logo-xl.svg" alt="Leonix" class="logo_xl">
        <div class="footer_bottom">
            <div class="b-footer-item"><a href="mailto:nfo@leonix.com.ua">nfo@leonix.com.ua </a></div>
            <div class="b-footer-item"><a href="tel:+380669842402">+38 066 984 24 02</a></div>
            <div class="b-footer-item"><a href="tel:+380679834655 ">+38 067 983 46 55 </a></div>
            <div class="b-footer-item">2026 Leonix. Усі права захищені</div>
        </div>
    </div>
</footer>