<nav class="pagination">
    <a href="#" class="pagination__arrow pagination__prev">
        <img src="images/icons/arrow-prev.svg" alt="Назад">
    </a>
    <ul class="pagination__list">
        <li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link is-active">2</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
        <li class="pagination__item"><span class="pagination__dots">&hellip;</span></li>
        <li class="pagination__item"><a href="#" class="pagination__link">33</a></li>
    </ul>
    <a href="#" class="pagination__arrow pagination__next">
        <img src="images/icons/arrow-prev.svg" alt="Вперед">
    </a>
</nav>