@use "../base/mixins";
@use "../base/variables";

.page-catalog .wrap-pagination {
  text-align: center;
}

.btn_open-sidebar {
  display: none;
}

.catalog-filter__header {
  padding-top: 100px;
  padding-bottom: 32px;
}

.top-bar {
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  z-index: 10;

  &__title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.02;
    padding-left: 24px;
    padding-right: 8px;
  }
}

.tags-bar {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  gap: 24px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.tag-item {
  background-color: #F3F1EE;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  gap: 12px;

  padding: 13px 24px;

  &__remove {
    width: 24px;
    height: 29px;
    padding: 0;
    border: none;
    background-color: transparent;

    img {
      max-width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.filter-reset-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
  background-color: transparent;
  border: none;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
}

.catalog-content {
  display: flex;

  .card {
    width: 33.33%;
    max-width: 334px;
  }
}

.sidebar {
  width: 294px;
  padding-right: 20px;
  flex-shrink: 0;

  .btn_close {
    display: none;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 0;
    min-height: 40px;
    position: relative;
    font-weight: 300;
    font-size: 16px;

    &_toggle {
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        margin-left: 10px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        width: 6px;
        height: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  &__section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.5s ease;

    &.is-open {
      border-bottom-color: transparent;

    }

    .collapse {
      overflow: hidden;
      max-height: 0;
      padding-bottom: 0;
      transition: max-height 0.5s, padding 0.5s;

      &.show {
        padding-bottom: 24px;
        max-height: 1000px;
      }
    }
  }

  &__footer {
    padding-top: 60px;
  }

  .btn_dark {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.products-grid {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent;
  transition: border-color 0.3s ease;
  padding: 36px 28px;
  min-height: 448px;

  &:hover {
    border-color: red;
  }

  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__img-wrap {
    margin-top: auto;
    padding-bottom: 42px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .category-card__title {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 8px;
    padding-left: 0;

    &:after {
      top: 0;
    }
  }
}

.sidebar-backdrop {

  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, .8);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
  transition: opacity 0.8s ease, visibility 0s linear 0.8s;

  &.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 10;
    transition: opacity 0.8s ease, visibility 0s linear 0s;
  }
}

@include mixins.respond-to(variables.$md) {
  .top-bar__title {
    font-size: 46px;
  }
  .sidebar {
    background-color: lightgreen;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 320;

    padding: 60px 0 60px 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 30px 30px 0;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;

    transform: translateX(-100%);
    opacity: 0;
    transition: opasity .6s ease, transform .8s ease;
    will-change: transform, opaсity;

    .btn_close {
      display: block;
      left: 12px;
      top: 16px;
    }
  }
  .sidebar.is_open {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.6s ease;
  }
  .catalog-content {
    position: relative;
    padding-top: 32px;
  }
  .btn_open-sidebar {
    display: block;
    position: absolute;
    top: -16px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url(../images/icons/filter-catalog.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card {
    min-height: 390px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .top-bar__title,
  .search__input {
    font-size: 36px;
  }
  .tag-item__remove {
    width: 20px;
    height: 20px;
  }
  .tag-item {
    padding: 12px 18px;
    font-size: 14px;
  }
  .filter-reset-btn {
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .tags-bar__list {
    gap: 16px;
  }
}

@include mixins.respond-to(variables.$xs) {

  .top-bar {
    padding-bottom: 24px;

    &__title {
      font-size: 24px;
      padding-left: 16px;
    }
  }
  .search__input {
    font-size: 24px;
  }

  .search-block {
    padding: 16px;
  }
  .btn_open-sidebar {
    width: 24px;
    height: 24px;
  }

  .card {
    padding: 16px;
    min-height: 275px;

    &__title {
      font-size: 12px;
    }

    &__img-wrap {
      padding-bottom: 22px;
    }
  }
}

@media screen and (max-width: 540px) {
  .catalog-content .card {
    width: 50%;
  }
}