@use "../base/mixins";
@use "../base/variables";

.page-catalog .wrap-pagination {
  text-align: center;
}

.btn_open-sidebar {
  display: none;
}

.catalog-filter__header {
  padding-top: 100px;
  padding-bottom: 32px;
}

.top-bar {
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  &__title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.02;
    padding-left: 24px;
    padding-right: 8px;
  }
}

.tags-bar {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  gap: 24px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.tag-item {
  background-color: #F3F1EE;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  gap: 12px;

  padding: 13px 24px;

  &__remove {
    width: 24px;
    height: 29px;
    padding: 0;
    border: none;
    background-color: transparent;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

.filter-reset-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
  background-color: transparent;
  border: none;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
}

.catalog-content {
  display: flex;

  .card {
    width: 33.33%;
    max-width: 334px;
  }
}

.sidebar {
  width: 294px;
  padding-right: 20px;
  flex-shrink: 0;

  .btn_close {
    display: none;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 0;
    min-height: 40px;
    position: relative;
    font-weight: 300;
    font-size: 16px;

    &_toggle {
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        margin-left: 10px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        width: 6px;
        height: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  &__section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.5s ease;

    &.is-open {
      border-bottom-color: transparent;

    }

    .collapse {
      overflow: hidden;
      max-height: 0;
      padding-bottom: 0;
      transition: max-height 0.5s, padding 0.5s;

      &.show {
        padding-bottom: 24px;
        max-height: 1000px;
      }
    }
  }

  &__footer {
    padding-top: 60px;
  }

  .btn_dark {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.products-grid {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent;
  transition: border-color 0.3s ease;
  padding: 36px 28px;
  min-height: 448px;

  &:hover {
    border-color: red;
  }

  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__img-wrap {
    margin-top: auto;
    padding-bottom: 42px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .category-card__title {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 8px;
    padding-left: 0;

    &:after {
      top: 0;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .top-bar__title {
    font-size: 46px;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
  }
  .catalog-content {
    position: relative;
    padding-top: 32px;
  }
  .btn_open-sidebar {
    display: block;
    position: absolute;
    top:-16px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url(../images/icons/filter-catalog.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card {
    min-height: 390px;
  }
}