@use "../base/mixins";
@use "../base/variables";

.page-blog {
  .hero-layer .section__heading {
    width: auto;
  }
}

.section-posts {
  padding-top: 140px;

  &__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.05;
    margin-bottom: 48px;
  }

  &__footer {
    text-align: center;
  }
}

.filter-category {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 60px;

  &__item {
    margin-bottom: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    width: calc(33.333% - (20px * 2 / 3));
  }
}

.card-article {
  display: block;
  padding-bottom: 28px;

  &__thumb {
    padding-top: 69%;
    position: relative;
    border-right: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.58;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #7C7C7C;
  }
  &__footer{
    padding-top: 20px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .card-article__title {
    font-size: 20px;
  }
  .post__title {
    font-size: 40px;
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-article__title {
    font-size: 18px;
  }
  .card-article__thumb {
    margin-bottom: 8px;
  }
  .card-article .card-article__title{
    margin-bottom: 8px;
  }
  .card-article  .card-article__date{
    font-size: 14px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-posts {
    padding-top: 80px;
  }
  .filter-category {
    gap: 16px;
  }
  .section-posts {
    padding-top: 40px;
  }
  .section-posts__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .posts__item {
    width: 48%;
  }
  .card-article__title {
    font-weight: 400;
  }
}

@include mixins.respond-to(variables.$xs) {

  .posts {
    gap: 24px;
  }
  .section-posts__title {
    font-size: 24px;
  }
  .posts__item {
    width: 100%;
  }
  .card-article {
    padding-bottom: 0;
  }
}