@use "../base/mixins";
@use "../base/variables";

.page-contacts {
  .animation-view .section__heading {
    width: auto;
  }

  .textarea {
    height: 223px;
    padding-top: 26px;
  }

  .block-grey {
    padding: 174px 50px 90px;

    .container {
      padding: 52px 0;
    }
  }

  .section__part-right {
    padding-left: 0;
  }

  .d-flex {
    align-items: flex-end;
    gap: 20px;
  }

  .section-contacts .section__part {
    max-width: 640px;
    width: 50%;
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .contacts__item {
    flex-direction: column;
    font-size: 24px;
    line-height: 1.58;
    width: 48%;
    flex-grow: 1;
    gap: 0;

    h3 {
      margin-bottom: 4px;
    }

    .btn_dark {
      width: max-content;
    }

    &.description {
      width: 100%;
    }
  }

  .working-hours__content {
    gap: 0;
  }

  dt {
    font-weight: 300;
  }

  dd {
    text-align: left;
  }
}

.tabs {
  &__nav {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__content {
    padding-top: 90px;

    .container {
      position: relative;
    }
  }

  &__nav-item {
    width: 50%;
    line-height: 40px;
    border-top: 6px solid #CFCECB;
  }

  &__nav-description {
    color: #595959;
    display: block;
    font-size: 16px;
    line-height: 2.5;
  }

  .btn_dark {
    display: inline-flex;
  }

  .tab-content {
    background-color: #fff;
  }
}

.tabs-nav__link {
  display: block;
  font-family: variables.$main-font;
  font-weight: 300;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.58;
  padding: 56px 0 0;
  width: 100%;
  text-align: left;
}

.tab-active-border {
  background-color: #FF0000;
  top: 0;
  height: 6px;
  left: 0;
  position: absolute;
  transition: transform .8s ease, width .35s ease;
  width: 0;
  will-change: transform, width;
  z-index: 1;
}

.block-map {
  &__inner {
    position: relative;
    padding-top: 97%;
    border: 1px solid;

    img, iframe {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
}


@include mixins.respond-to(variables.$lg) {
  .page-contacts .contacts__item {
    font-size: 20px;
  }
  .tabs__nav-item .text_md {
    font-size: 24px;
  }
}

@include mixins.respond-to(variables.$md) {
  .page-contacts .block-grey {
    padding: 0 50px 50px;
  }
  .tabs-nav__link {
    padding: 32px 0 0;
  }
  .page-contacts .d-flex {
    flex-wrap: wrap;
  }
  .page-contacts .section-contacts .section__part {
    width: 100%;
    max-width: 100%;
  }
  .page-contacts .contacts__list {
    max-width: 100%;
  }
  .page-contacts .section-contacts .section__part {
    padding-left: 0;
  }
  .block-map__inner {
    padding-top: 0;
    height: 543px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .tabs__nav-description {
    display: none;
  }
  .tabs-nav__link {
    padding: 0;
  }
  .page-contacts .block-grey {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
  .tabs__nav-item {
    border-top: 0;
  }
  .tab-active-border {
    display: none;
  }
  .tabs__content {
    padding-top: 60px;
  }
  .staggered-heading {
    font-size: 40px;
  }
  .tabs-nav__link {
    color: #B2B1B1;

    &.active {
      color: #000;
    }
  }

  .page-contacts .contacts__item {
    margin-bottom: 0;
  }
  .page-contacts .section__part-right {
    order: initial;
    margin-bottom: 0;
  }
  .block-map {
    padding-top: 48px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .page-contacts .block-grey {
    border-radius: 0 0 15px 15px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .staggered-heading {
    font-size: 32px;
  }
  .tabs__nav {
    display: block;
  }
  .tabs__nav-item {
    width: 100%;
    .text_md {
      font-weight: 500;
    }
  }
  .page-contacts .textarea {
    height: 90px;
  }
  .page-contacts .contacts__item {
    font-size: 16px;
  }
}