@use "../base/mixins";
@use "../base/variables";
// Footer

.footer {
  background-color: #CE1111F2;
  position: relative;
  padding-top: 52px;
  padding-bottom: 23px;
  color: #FFFFFF;

  &_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
  }

  &__part {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    flex-grow: 1;
  }

  &__slogan {
    padding: 17px;
    color: #F3F1EE;
    max-width: 470px;
    width: 100%;
    margin-bottom: 22px;

    &:before {
      background-image: url(../images/icons/logo-sm.svg);
      width: 18px;
      height: 18px;
    }
  }

  .staggered-heading {
    font-size: 55px;
    line-height: 1.03;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &__item {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;

      a {
        display: inline-block;
        padding: 0;
      }
    }
  }

  .logo_xl {
    display: block;
    width: 100%;
    height: auto;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    font-size: 20px;
  }
}

.working-hours {
  font-size: 16px;
  line-height: 40px;
  max-width: 276px;
  width: 100%;
  margin-left: auto;

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}

.working-hours__content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto; /* Робить дві колонки */
  row-gap: 8px;

  dt {
    grid-column: 1; /* Дні йдуть у першу колонку */
    font-weight: normal;
  }

  dd {
    grid-column: 2; /* Години йдуть у другу колонку */
    text-align: right; /* Вирівнювання годин по правому краю */
    margin: 0; /* Прибирає стандартний відступ браузера */
  }
}

.social-list {
  display: flex;
  gap: 10px;

  &__item {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .footer .staggered-heading {
    font-size: 48px;
  }
  .footer .section__heading {
    padding: 25px 0 0 25px;

    &:before {
      width: 25px;
      height: 25px;
    }
  }
  .working-hours h3 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 16px;
  }
  .footer .menu__item {
    font-size: 18px;
  }
  .footer_bottom {
    font-size: 16px;
  }
  .footer_top {
    padding-bottom: 50px;
  }
}

@include mixins.respond-to(variables.$md) {
  .footer_top {
    flex-wrap: wrap;
  }
  .footer__part {
    width: 50%;

    &:first-child {
      width: 100%;
    }
  }
  .footer__slogan {
    max-width: 400px;
  }
  .social-list {
    padding-bottom: 40px;
  }
  .footer .menu {
    margin-left: 0;
  }
  .footer .section__heading {
    padding: 15px 0 0 15px;

    &:before {
      width: 15px;
      height: 15px;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;
  }
  .b-footer-item {
    width: 33%;
    margin-bottom: 4px;
    text-align: center;

    &:last-child {
      width: 100%;

      margin-bottom: 0;
    }
  }
  .footer {
    padding: 48px 0;
  }
  .social-list{
    padding-bottom: 32px;
  }
  .working-hours_{
    line-height: 30px;
  }
  .working-hours__content{
    gap: 4px;
    font-weight: 700;
  }
  .working-hours__content dt{
    font-weight: 700;
  }
  .footer_top {
    padding-bottom: 45px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .footer__part:nth-child(2) {
    display: none;
  }
  .working-hours {
    margin-left: 0;
  }
  .b-footer-item {
    width: 100%;
    text-align: left;
  }
}