@use "../base/mixins";
@use "../base/variables";

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  @include mixins.respond-to(variables.$xxl) {
    max-width: 1280px;
  }
  @include mixins.respond-to(variables.$xl) {
    max-width: 1180px;
  }
  @include mixins.respond-to(variables.$lg) {
    max-width: 980px;
    padding: 0 40px;
  }

  @include mixins.respond-to(variables.$md) {
    max-width: 870px;
  }

  @include mixins.respond-to(variables.$sm) {
    padding: 0 20px;
    max-width: 640px;
  }

  @include mixins.respond-to(variables.$xs) {
    max-width: 100%;
    padding: 0 16px;
  }
}

//.container {
//  @include mixins.respond-to(variables.$xl) {
//    border: 2px solid red;
//  }
//  @include mixins.respond-to(variables.$lg) {
//    border: 2px solid blue;
//  }
//  @include mixins.respond-to(variables.$md) {
//    border: 2px solid goldenrod;
//  }
//  @include mixins.respond-to(variables.$sm) {
//    border: 2px solid greenyellow;
//  }
//  @include mixins.respond-to(variables.$xs) {
//    border: 2px solid fuchsia;
//  }
//  @include mixins.respond-to(variables.$xxs) {
//    border: 2px solid blueviolet;
//  }
//}